 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>服务流程</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>一、预约：设计师上门量房</p>
                    <br>
                    <p>二、设计：按需设计小窝图纸 </p> 
                    <br>
                    <p>三、施工：按需施工您的小窝 </p>
                    <br>
                    <p>四、按需施工小窝 -> 入住：享受温馨小窝</p>
                </div>              
            </div>
        </div>
    </section>